@import "zenit.css";

body::after{
  /* Hide images */
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  /* Load images */
  content: var(--zenit);
}

.main h3 {
  font-size: 26px;
  font-weight: bold;
}

.main h2 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
}

.main p, li {
  font-size: var(--texto-menor);
  margin-top: .875rem;
}

.main p {
  text-indent: 23px;
  text-align: justify;
}

.sobre-mim {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 2rem 0;
}

.minha-foto {
  background-image: url('/assets/about-me.svg');
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
  border-radius: 50%;
  border: 2px solid var(--border);
}

@media screen and (min-width: 900px) {
  .main h2 {
    font-size: 32px;
  }

  .main h3 {
    font-size: 40px;
    font-weight: 5000;
  }
  
  .main p, li {
    font-size: var(--texto-grande);
  }

  .main p {
    text-indent: 23px;
    margin-top: 1.25rem;
  }

  .sobre-mim {
    width: 886px;
    display: inline;
    margin: 4rem 0;
  }

  .minha-foto {
    width: 336px;
    height: 336px;
    border-radius: 50%;
    border: 2px solid var(--border);
    float: right;
    margin-left: 2rem;
  }
}