:root {
  --bg: #ffffff;
  --text-color: #232323;
  --text-strong: #2B32ED;
  --active-filter: #B9BBF9;
  --card-bg: #E3E3E3;
  --card-shadow: rgba(0, 0, 0, .25);
  --menu: #2B32ED;
  --border: #B8B8B8;
  --hover-card: #B8B8B8;
  --text-stroke: '';

  --texto-grande: 1.25rem;
  --texto-corrido: 1rem;
  --texto-menor: 0.875rem;
  --legenda: 0.75rem;
  --legenda-menor: 0.625rem;

  --sun-mobile: url('/assets/LightMode/sun-mobile-light-mode.svg');
  --moon-mobile: url('/assets/LightMode/moon-mobile-light-mode.svg');
  --sun-desktop: url('/assets/LightMode/sun-desktop-light-mode.svg');
  --moon-desktop: url('/assets/LightMode/moon-desktop-light-mode.svg');

  --chamada: url('/assets/LightMode/chamada-light-mode.svg');

  --portfolio: url('/assets/LightMode/portfolio-light-mode.svg');
  --certificados: url('/assets/LightMode/certificados-light-mode.svg');

  --zenit: url('/assets/LightMode/logo-zenit-light-mode.svg');

  --close-modal: url('/assets/LightMode/close-button-light-mode.svg');

  --img-project1: url('/assets/LightMode/project1-light-mode.svg');

  --em-breve: url('/assets/LightMode/em-breve-light-mode.svg');
  --em-breve-animation: url('/assets/LightMode/em-breve-animation-light-mode.gif');
}

.dark-mode:root {
  --bg: #232323;
  --text-color: #ffffff;
  --text-strong: #EE6E6E;
  --active-filter: #E93E3E;
  --card-bg: #4E4E4E;
  --card-shadow: rgba(0, 0, 0, .5);
  --menu: #E93E3E;
  --border: #E3E3E3;
  --hover-card: #8D8D8D;
  --text-stroke: black;

  --texto-grande: 1.25rem;
  --texto-corrido: 1rem;
  --texto-menor: 0.875rem;
  --legenda: 0.75rem;
  --legenda-menor: 0.625rem;

  --sun-mobile: url('/assets/DarkMode/sun-mobile-dark-mode.svg');
  --moon-mobile: url('/assets/DarkMode/moon-mobile-dark-mode.svg');
  --sun-desktop: url('/assets/DarkMode/sun-desktop-dark-mode.svg');
  --moon-desktop: url('/assets/DarkMode/moon-desktop-dark-mode.svg');

  --chamada: url('/assets/DarkMode/chamada-dark-mode.svg');

  --portfolio: url('/assets/DarkMode/portfolio-dark-mode.svg');
  --certificados: url('/assets/DarkMode/certificados-dark-mode.svg');

  --zenit: url('/assets/DarkMode/logo-zenit-dark-mode.svg');

  --close-modal: url('/assets/DarkMode/close-button-dark-mode.svg');

  --img-project1: url('/assets/DarkMode/project1-dark-mode.svg');

  --em-breve: url('/assets/DarkMode/em-breve-dark-mode.svg');
  --em-breve-animation: url('/assets/DarkMode/em-breve-animation-dark-mode.gif');
}